---
const items = [
  "/anaren-images/thanwazz.png",
  "/anaren-images/Untitled-4-01.png",
  "/anaren-images/thzz.png",
  "/anaren-images/engine.png",
  "/anaren-images/sunscreen.png",
];
---

<div class="sample">
  {
    items.map((item) => (
        <img loading="lazy" class="sample" src={item} alt="Anaren sample " />
    ))
  }
</div>

<style>
  .sample {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: auto;
  }
  @media (max-width: 768px) {
    .sample {
      display: flex;
      width: 55%;
      justify-content: left;
      flex-direction: row;
      gap: 12px;
    }
  }
</style>

